@import url('https://fonts.googleapis.com/css?family=Lato');

.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main2 {
    width: 100%;
    height: 100%;
    background-color: #373737;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.child2 {
    width: 1800px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: scroll;
}

.review_header {
    width: 100%;
    height: 580;
    background-color: transparent;
    color: #F4F4F4;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 150px;
    display: flex;
    justify-content: center;
    letter-spacing: 75px;
    position: absolute;
    text-shadow: 7px 7px 4px #373737; 
    text-decoration: none;
}

.review_album_image {
    height: 600px;
    width: 600px;
    opacity: 0.5;
}

.big_daddy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pic_container1 {
    width: 800px;
    height: 500px;
}

.pic_container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 525px;
    width: 800px;
    margin-bottom: 5px;
}

.image_size1 {
    height: 495px;
    width: 780px;
}

.image_size2 {
    height: 235px;
    width: 390px;
}

a {
    text-decoration: none;
    color: #F4F4F4;
}

.video_header {
    width: 100%;
    height: 580;
    background-color: transparent;
    color: #F4F4F4;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 150px;
    display: flex;
    justify-content: center;
    letter-spacing: 75px;
    position: absolute;
    text-shadow: 7px 7px 4px #373737; 
    text-decoration: none;
}

.homepage_videos_parent {
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.homepage_highlight_video {
    background-color: #F4F4F4;
    /* height: 500px; */
    /* width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);    
}

.homepage_video_styles {
    font-family: 'Lato';
    font-size: 10px;
    letter-spacing: 2px;
    color: #C0B283;
}

.homepage_description {
    height: 390px;
    width: 500px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 2px;
    color: #C0B283;
    display: flex;
    align-items: center;
}