@import url('https://fonts.googleapis.com/css?family=Lato');

.account_address_main {
    height: 100vh;
    width: 100vw;
    background-color: #373737;
    font-family: 'Lato';
}

.account_address_header {
    width: 100%;
    /* height: 580px; */
    background-color: transparent;
    color: #C0B283;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 150px;
    display: flex;
    justify-content: center;
    letter-spacing: 75px;
    text-shadow: 10px 10px 7px #373737; 
    text-decoration: none;
}

.account_address_parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.account_address_child {
    width: 65%;
    height: 100%;
    font-family: 'Lato';
    letter-spacing: 3px;
    color: #C0B283;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-right: 5em;
    margin-top: 7em;
}

.account_address_view_addresses_btn {
    width: 10em;
    height: 3em;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #F4F4F4;
    color: #C0B283;    
}

