@import url('https://fonts.googleapis.com/css?family=Lato');

.cart_product_main {
    height: 100vh;
    width: 100vw;
}

.cart_product_parent {
    height: 120px;
    width: 355px;
    background-color: #ffffff;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    margin-top: 25px;
}

.cart_product_child {
    display: flex;
    justify-content: space-between;
    color: #373737;
    font-family: 'Lato';
    font-size: 15px;
    margin-top: 10px;
}

.cart_product_image {
    height: 100px;
    width: 100px;
}

.cart_product_text {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

.hide_product_parent {
    display: none;
}

.remove_product {
    float: right;
    margin-top: -13px;
}
